.book-seat {
  width: 100%;
  height: fit-content;

  --p-in: 5em;
  --p-top: 2em;
  --p-bot: 2em;
  padding-inline: var(--p-in);
  padding-top: var(--p-top);
  padding-bottom: var(--p-bot);
}
.book-seat {
  --movie-wrapper-width: 12em;
  --thumbnail-height: 10em;
  > .movie-wrapper {
      --mr : 5em;
    position: relative;
    width: var(--movie-wrapper-width);
    padding: 0.5em;
    border-radius: 10px;
    > img.thumbnail {
      width: 100%;
      min-height: var(--thumbnail-height);
      border-radius: 9px;
    }
    img.rupee-icon {
      width: var(--fs-med);
      height: var(--fs-med);
      background: var(--clr-pri);
      padding: 0.5em;
      box-sizing: content-box;
      border-radius: 50%;
    }
  }
}
.seat-book-area {
    border-left: 1px solid var(--clr-sec-xl);
    padding-left: 2em;
    .seats {
        width: fit-content;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
        > ul {
            width: fit-content;
            height: fit-content;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(4, 1fr);
            gap: .5em;
            list-style: none;
            > li {
                width: 2em;
                height: 2em;
                background: var(--clr-sec-l);
                border-radius: 50% 50% 0 0;
                cursor: pointer;
            }
            > li.occupied {
                background: cyan;
                cursor: not-allowed;
            }
            > li.selected {
                background: lightgreen;
            }
        }
    }
    .seat-demo {
        width: 2em;
        height: 2em;
        border-radius: 50% 50% 0 0;
        background: var(--clr-sec-l);
    }
    .seat-demo.occupied {
        background: cyan;
    }
    .seat-demo.selected {
        background: lightgreen;
    }
}
@include breakpoint-down(desktop) {
    .book-seat {
        --p-in : 2em;
        > .movie-wrapper {
            --mr : 2em;
        }
    }
    .seat-book-area {
        .seats {
            > ul {
                > li {
                    width: 1.5em;
                    height: 1.5em;
                }
            }
        }
        .seat-demo {
            width: 1.5em;
            height: 1.5em;
        }
    }
}
@include breakpoint-down(tablet) {
    .book-seat {

        > .movie-wrapper {
            img.thumbnail {
                width: 100%;
                height: auto;
            }
        }
    }
    .seat-book-area {
        .seats {
            > ul {
                gap: 0.2em;
                > li {
                    width: 1em;
                    height: 1em;
                }
            }
        }
        .seat-demo {
            width: 1em;
            height: 1em;
            --ml : 1em;
        }
        .hint {
            > span {
                --ml : 0.5em !important;
            }
        }
    }
}
@include breakpoint-down(mid-tablet) {
    .book-seat {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        --movie-wrapper-width: 100%;
        > .movie-wrapper {
            --mr : 0;
        }
    }
    .seat-book-area {
        border: 0;
        padding-left: 0;
    }
}
@include breakpoint-down(mobile) {
    .book-seat {
        --p-in : 1em;
    }
    .seat-book-area {
        margin-top: 2em;
        h2 {
            text-align: center;
        }
        .seats {
            > ul {
                > li {
                    width: 1em;
                    height: 1em;
                }
            }
        }
        .seat-demo {
            width: 1em;
            height: 1em;
        }
    }
}