nav {
    width: 100%;
    height: fit-content;
    --p-in : 5em;
    padding-inline: var(--p-in);
}

nav .left-arrow {
    transition: 1s;
    transform: translateX(0);
}
nav:hover .left-arrow {
    transform: translateX(-30%);
}