nav {
    width: fit-content;
    height: fit-content;
    --p-in : 5em;
    padding-inline: var(--p-in);
    @include breakpoint-down(tablet) {
        --p-in : 2em;
    }
}

nav .left-arrow {
    transition: 1s;
    transform: translateX(0);
}
nav:hover .left-arrow {
    transform: translateX(-30%);
}